/* ------style générale------ */

/* pour rendre le scrolling smoooth */
html{
    scroll-behavior: smooth;
}

*{
    /* enlever les marges */
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* changer la police */
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}




/* ------style barre de navigation------ */

nav{
    width: 100vw;
    text-align: center;
    padding: 30px 30px 30px;
    color: darkgrey;
    background-color: white;

    /* fixer la barre de navigation */
    position: fixed;
    top: 0;
    left: 0;
}

ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

ul a {
    text-decoration: none;
    color: inherit;
    transition: 400ms;
}

ul a:hover{
    color: rgb(146, 37, 248);
}






/* des section */
section {
    /* vh signifie viewpoint height (LA TAILLE DE LA FENETRE) */
    min-height: 100vh;
    width: 100vw;
    text-align: center;
}

section p{
    /* pour la taille des ecritures */
    font-size: larger;
    /* largeur max */
    max-width: 800px;
    margin: auto;
}

#accueil{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* cibler le premier div enfant de la section */
#accueil > div{
    text-align: center;
}

#accueil img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
}

#accueil h2{
    /* pour la finesse des écritures */
    font-weight: 200;
    font-size: 8vh;
    color: rgb(223, 37, 248);
}

#apropos {
    background-color: rgb(146, 37, 248);
    color: white;
    padding: 100px 100px 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

#apropos h2{
    font-weight: 200;
    font-size: 8vh;
}


#competences{
    display: flex;
    align-items: center;
    justify-content: center;
}


#competences h2{
    /* pour la finesse des écritures */
    font-weight: 200;
    font-size: 8vh;
    color: rgb(146, 37, 248);
}

#grille{
    padding: 20px 20px 20px;
    display: grid;
    /* disposition */
    grid-template-columns: repeat(5,1fr);
    /* espace entre les block */
    gap: 20px;
}

#contact{
    display: flex;
    align-items: center;
    justify-content: center;
}


#contact h2{
    /* pour la finesse des écritures */
    font-weight: 200;
    font-size: 8vh;
    color: rgb(146, 37, 248);
}

#reseaux{
    padding: 20px 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer{
    padding: 50px 50px 50px;
    color: white;
    background-color: rgb(146, 37, 248);
    text-align: center;
}


